article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

.bg-light {
    background-color: #fffbfb!important;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    outline: none;
}

.rounded-circle {
    border-radius: 50% !important;
}

.team-member img {
  width: 225px;
  height: 225px;
  border: 7px solid #fff;
}

@media screen and (max-width: 2560px) {
    #dropdown {
      display: none;
    }

    #brand2 {
      display: none;
    }
  }

@media screen and (max-width: 768px) {
  #dropdown {
    display: inline-block;
  }

  #navi {
    display: none;
  }

  #brand1 {
    display: none;
  }

  #brand2 {
    display: block;
  }

  nav {
    width: 100%;
  }
}
