<div>
  <router-outlet></router-outlet>
</div>

<div class="container mt-3" id="footer">
    <div class="row">
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
            <li class="list-inline-item"><a class="badge badge-info">Privacy Policy</a></li>
            <li class="list-inline-item"><a class="badge badge-info">Terms of Use</a></li>
        </ul>
      </div>
      <div class="col-md-4" id="social">
          <ul class="list-inline social-buttons">
              <li class="list-inline-item"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
              <li class="list-inline-item"><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
          </ul>
      </div>
      <div class="col-md-4"><span class="copyright" style="color: rgb(17, 17, 17);">Copyright&nbsp;© Brand 2021</span></div>
  </div>
</div>
